| Instruções para criar uma nova senha
| ====================================

| Olá #{@pessoa.nome_completo},
|
| Você solicitou instruções para criar uma nova senha. Se não foi você desconsidere
| este e-mail.
|
| Para criar uma nova senha basta acessar a seguinte URL: #{@remember_link}
|
| Equipe SPE
