@import 'base/base';

body,
main,
html {
  max-width: $screen-sm-min;
}

#title-area {
  margin-top: 1em;
  margin-bottom: 1em;
}

#form-area {
  max-width: 400px;
}

footer {
  margin-top: 3em;
}

label {
  abbr {
    color: #FF0000;
  }
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}
