@import 'base/base';

body,
main,
html {
  max-width: $screen-sm-min;
}

#title-area {
  margin-top: 1em;
  margin-bottom: 1em;
}

#form-area {
  max-width: 400px;
}

footer {
  margin-top: 3em;
}

label {
  abbr {
    color: $error_color;
  }
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
  font-style: italic;
}

dl {
  margin-bottom: 0;
}

.ml-20 {
  margin-left: 20px;
}

p.attention {
  color: $error_color;
}

.medical-records {
  border: 1px solid #DDDDDD;

  dl.title {
    background-color: #E6E6E6;
    border-bottom: 1px solid #DDDDDD;
  }
}

table {
  th.date-column {
    width: 109px;
  }
  th.action-column {
    width: 70px;
  }
}

.table td {
  vertical-align: middle;
}

.help-block {
  font-size: 0.9rem;
  font-style: italic;
}

p.help-block {
  color: #99979c;
}

.has-error {
  span.help-block {
    color: $error_color;
  }
  .form-control {
    border: 1px solid $error_color;
  }
}
